
.icon-filter:before { content: '\e802'; } /* '' */
.icon-graph:before { content: '\e803'; } /* '' */
.icon-setting:before { content: '\e804'; } /* '' */
.icon-activity:before { content: '\e805'; } /* '' */
.icon-svg1:before { content: '\e806'; } /* '' */
.icon-svg2:before { content: '\e807'; } /* '' */
.icon-svg3:before { content: '\e808'; } /* '' */
.icon-svg4:before { content: '\e809'; } /* '' */
